name: deploy-worker
on:
  workflow_call:
    inputs:
      workingDirectory: { type: string, required: false, default: 'cloudflare-worker' }
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          workingDirectory: ${{ inputs.workingDirectory }}
